.Header
{
    font-size: 35px;
    font-family: 'Didot', Courier, monospace;
    margin-left: 100px;
}
.verum-dec
{
    font-family: 18px;
    font-family: 'Didot', serif;
    line-height: 2;
    width: 800px;
    margin-left: 100px;
}